body {
  max-width: 768px;
  margin-inline: auto;
  margin-block: 0px;
  padding-inline: 16px;
  padding-top: 64px;
  padding-bottom: 128px;
  background-color: blueviolet;
}




h1 {
  position: absolute;
  font-size: 50px;
  left: 160px;
  top: 5px;
  color: rgb(167, 150, 199);

}



.nav-bar {
  word-spacing: 50px;
  position: absolute;
  right: 240px;
  top: 70px;
  font-size: 30px;
  color: rgb(107, 77, 219);

}


.container-input {
  position: absolute;
  bottom: 775px;
  right: 850px;
  font-size: 20px;
}

.container-button {
  border-radius: 70px;
  color: rgb(89, 86, 211);
  background-color: rgb(206, 193, 218);
}

#gifContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  grid-gap: 10px;
}

#gifContainer>img {
  width: 100%;
  border-radius: var(--rounded-lg);
}